#### Q1. Write a program find get total score by Indian cricket team. (HINT- sum of all the values in a dictionary)
```
batter_n_scores = {"virat": 100, "rohit": 200, "hardik": 50, "surya": 0}
```

#### Q2: Write a program to merge batters and ballers. Calculate total score of team.
```
batters = {"virat": 100, "rohit": 200, "hardik": 50, "surya": 0}
ballers = {"chahal": 10, "arshdeep": 5, "bumrah": 1}
```

#### Q3:Write a program to calculate grade of players based on their collective performance in a 3 different cricket series. Remove players who have scored less than 50.

- Rules:
    - A grade : one who scores more than 300 runs
    - B grade : one who scores between 200 and 300 runs
    - C grade : one who scores between 100 and 200 runs
    - D grade : one who scores less than 100
    
```
performances = {
                "asia-cup": {
                            "virat": 100,
                            "rohit": 200,
                            "hardik": 50,
                            "surya": 0,
                            "chahal": 10,
                            "arshdeep": 5,
                            "bumrah": 1
                            },
                "aus-series": {
                            "virat": 5,
                            "rohit": 39,
                            "hardik": 47,
                            "surya": 128,
                            "chahal": 0,
                            "arshdeep": 90,
                            "bumrah": 4
                            },
                "world-cup": {
                            "virat": 95,
                            "rohit": 339,
                            "hardik": 137,
                            "surya": 196,
                            "chahal": 91,
                            "arshdeep": 89,
                            "bumrah": 40
                            }
                }
```

#### Q4: Create a game of sticks as discussed in the class and protect it with a secret password. Set max attempts to enter password to 3. Number of sticks should be 26. Other rules will be same as discussed in the class.

#### Q5: Produce a Fibonacci series of 20 elements using while loop.

#### Q6: Produce a Fibonacci series of 15 elements using for loop.

#### Q7: Write a program to check if number is prime or not.

#### Q8: Write a program to find cube of first 12 natural numbers using for loop.

#### Q9: Write a program to create a list of cube of first 12 natural numbers using list comprehension.

#### Q10: Write a program to calculate count of characters in a given string. Show the count in dict representation such as 

    ``` 
    { "<char>": " <count>",...}
    ```

#### Q11: Use for loop to iterate from 0 to 100 and print the sum of all numbers.

#### Q12: Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

#### Q13: Print the name of employees who have python as skill in the form first_name last_name
```
employees=[
            {
            'first_name': 'Asabeneh',
            'last_name': 'Yetayeh',
            'age': 23,
            'country': 'India',
            'is_marred': True,
            'skills': [
                        'JavaScript',
                        'golang',
                        'Node'
                      ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Rahul',
            'last_name': 'Dravid',
            'age': 56,
            'country': 'Pakistan',
            'is_marred': False,
            'skills': [
                        'C#',
                        'React',
                        'Angular',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Virat',
            'last_name': 'Kohli',
            'age': 67,
            'country': 'Finland',
            'is_marred': True,
            'skills': [
                        'JavaScript',
                        'React',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Hardik',
            'last_name': 'Pandya',
            'age': 43,
            'country': 'USA',
            'is_marred': True,
            'skills': [
                        'JavaScript',
                        'Azure',
                        'Snowflake',
                        'MongoDB'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Mohammad',
            'last_name': 'Shami',
            'age': 31,
            'country': 'England',
            'is_marred': False,
            'skills': [
                        'AWS',
                        'GCP',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            }
            ]
            
```

#### Q14: Fire (remove) the employees who do not have python as skill and produce new dict,Print a dict output such as - { : ,....}

#### Q16: Fire (remove) all the employees who are above 30 year age and unmarried.

#### Q17: Add a new key for each employee called salary based on following rules
- if skill is Python, salary is 250000 USD
- If skill is Python and age is less than 40 then 250000 USD
- If skill is Python and unmarried then 200000 USD

#### Q18: Create a multiplication table (arithmetic table) of 10 using for loop under while loop. Also do vice versa.